body {
    font-family: Arial, sans-serif;
    background-color: #333;
    margin: 0;
    padding: 0;
    color: #fff;
}

.box {
    width: 350px;
    background-color: #444;
    border-radius: 8px;
    margin: 100px auto;
    padding: 20px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.3);
}

.box h2 {
    text-align: center;
    margin-bottom: 20px;
}

.inputBox {
    position: relative;
    margin-bottom: 20px;
}

.inputBox input {
    width: calc(90% - 22px);
    padding: 8px;
    border: 1px solid #777;
    border-radius: 5px;
    background-color: #555;
    color: #fff;
    margin-bottom: 10px;
}

.inputBox input::placeholder {
    color: #fff;
}

.inputBox label {
    position: absolute;
    top: 10px;
    left: 10px;
    color: #aaa;
    pointer-events: none;
    transition: 0.3s ease;
    z-index: -1;
}

.inputBox input:focus {
    border-color: #007bff;
}

.inputBox input:focus + label,
.inputBox input:valid + label {
    top: -12px;
    font-size: 12px;
    color: #ccc;
}

input[type="submit"] {
    width: 20%;
    padding: 10px;
    border: none;
    border-radius: 5px;
    background-color: #007bff;
    color: #fff;
    cursor: pointer;
    transition: background-color 0.3s ease;
    margin-bottom: 16px;
}

input[type="submit"]:hover {
    background-color: #0056b3;
}

.back {
    font-size: 14px;
    width: 20%;
    padding: 10px;
    border: none;
    border-radius: 5px;
    background-color: #007bff;
    color: #fff;
    cursor: pointer;
    transition: background-color 0.3s ease;
    margin-bottom: 10px;
}

.back:hover {
    background-color: #0056b3; 
}

a {
    color: #007bff;
    text-decoration: none;
}

.inputBox input:placeholder-shown + label {
    top: 10px;
    font-size: 16px;
    color: #aaa;
}
