body {
    font-family: Arial, sans-serif;
    margin: 0;
    padding: 0;
    background-color: #F1FAC0;
}

header {
    background-color: #333;
    color: #fff;
    padding: 10px;
    text-align: center;
}

main {
    padding: 20px;
}

table {
    width: 100%;
    border-collapse: collapse;
    margin-top: 20px;
    border: 3px solid black;
}

th,
td {
    border: 1px solid #ddd;
    padding: 12px;
    text-align: left;
}

th {
    background-color: #333;
    color: #fff;
}

tr {
    background-color: #808080;
    color: #fff;
}

h2 {
    text-decoration: underline;
}

.button {
    display: inline-block;
    padding: 10px 20px;
    font-size: 16px;
    text-align: center;
    text-decoration: none;
    cursor: pointer;
    border: none;
    border-radius: 5px;
    transition: background-color 0.3s;
}

#timetableBody button {
    background-color: transparent;
    border: none;
    cursor: pointer;
    padding: 0;
    font-size: inherit;
    color: inherit;
    text-decoration: underline;
}

#timetableBody button:hover {
    text-decoration: none;
}

.container {
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    background-color: #333;
    color: white;
    padding: 10px;
    display: flex;
    justify-content: space-between;
    align-items: center;
    z-index: 1000;
}

.logout-btn {
    padding: 5px 10px;
    background-color: #f44336;
    color: white;
    border: none;
    border-radius: 5px;
    margin-right: 10px;
    cursor: pointer;
}

.content {
    margin-top: 40px;
    height: 800px;
}
.content-header {
    background-color: #ddd;
    padding: 10px;
}

.checkmark-button {
    background-color: #4CAF50;
    margin-right: 15px;
    margin-left: 15px;
    border: none;
    color: white;
    font-size: 16px;
    cursor: pointer;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
    transition: transform 0.2s ease-in-out;

    margin: 0 10px;
    cursor: pointer;
}

.checkmark-button:hover {
    transform: scale(1.5);
}
    

.checkmark-button::before {
    content: "\2714";
}

.crossmark-button {
    background-color: #f44336;
    margin-left: 15px;
    border: none;
    color: white;
    font-size: 16px;
    cursor: pointer;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
    transition: transform 0.2s ease-in-out;

    margin: 0 10px;
    cursor: pointer;
}

.crossmark-button:hover {
    transform: scale(1.5);
}

.crossmark-button::before {
    content: "\2716";
}
